.capacity {
  position: fixed;
    left: 350px;
    top: 200px;
  width: 100%;
  font-size: 15px;

}
.price1 {
  position: fixed;
    left: 150px;
    top: 250px;
  width: 100%;
  font-size: 15px;

}
.price2 {
  position: fixed;
  left: 350px;
  top: 250px;
  width: 100%;
  font-size: 15px;
}
